tickTime={{ zookeeper.configuration.tick_time }}
dataDir={{ zookeeper.configuration.data_dir }}
clientPort={{ zookeeper.configuration.port }}
initLimit={{ zookeeper.configuration.init_limit }}
syncLimit={{ zookeeper.configuration.sync_limit }}
{% for server in groups["zk_servers"] %}
{% if loop.index   == zk_id %}
server.{{ loop.index }}=0.0.0.0:2888:3888
{% else %}
server.{{ loop.index }}={{ server }}:2888:3888  
{% endif %}
{% endfor %}
